.DS_Store

gh
git
zed
htop
mole
openlogi
opencode
raycast
raycast-x/extensions
raycast-x/node-compile-cache/v22.22.2-arm64-2b4477fa-501
tmux/plugins
yazi/flavors
yazi/package.toml
nvim/tmp
nvim/lazy-lock.json

/herdr/.plugins.lock
/herdr/*.log
/herdr/*.sock
/herdr/session.json

AGENTS.md
CLAUDE.md
/herdr
